<a href="https://colab.research.google.com/github/esosikeyes/Linear-Algebra_2nd-Sem/blob/main/Activity_1_Python_Fundamentals.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Welcome to Python Fundamentals
In this module, we are going to establish or review our skills in Python programming. In this notebook we are going to cover:
* Variables and Data Types 
* Operations
* Input and Output Operations
* Logic Control
* Iterables
* Functions

## Variable and Data Types

In [ ]:
x = 1
a,b = 0, -1

In [ ]:
x = 2

In [ ]:
type(x)

In [ ]:
y = 1.0
type(y)

In [ ]:
x = float(x)
type(x)

In [ ]:
s, t, u = "0", '1', 'one'
type(s)

In [ ]:
s_int = int(s)
s_int

##Operations

###Arithmetic

In [ ]:
a, b, c, d = 2.0, -0.5, 0, -32

In [ ]:
### Addition
S = a+b
S

In [ ]:
### Subtraction
D = b-d
D

In [ ]:
### Multiplication
P = a*d
P

In [ ]:
### Division
Q = c/a
Q

In [ ]:
### Floor Division
Fq = a//b
Fq

In [ ]:
### Exponentiation
E = a**b
E

In [ ]:
### Modulo
mod = d%a
mod

### Assignment Operations

In [ ]:
G, H, J, K = 0, 100, 2, 3

In [ ]:
G += a
G

In [ ]:
H -= d
H

In [ ]:
J *= 2
J

In [ ]:
K **= 2
K

### Comparators

In [ ]:
res_1, res_2, res_3 = 1, 2.0, "1"
true_val = 1.0

In [ ]:
## Equality
res_1 == true_val

In [ ]:
## Non-equality
res_2 != true_val

In [ ]:
## Inequality
t1 = res_1 > res_2
t2 = res_1 < res_2/2
t3 = res_1 >= res_2/2
t4 = res_1 <= res_2
t3

### Logical

In [ ]:
res_1 == true_val

True

In [ ]:
res_1 is true_val

In [ ]:
res_1 is not true_val

In [ ]:
p, q = True, False
conj = p and q
conj

In [ ]:
p, q = True, False
disj = p or q
disj

In [ ]:
p, q = True, False
e = not (p and q)
e

In [ ]:
p, q = True, False
xor = (not p and q) or (p and not q)
xor

### I/O

In [ ]:
print("Hello World")

Hello World

In [ ]:
cnt = 1

In [ ]:
string = "Hello World"
print(string, "Current run count is:", cnt)
cnt += 1

In [ ]:
print(f"{string}, Current count is: {cnt}")

In [ ]:
sem_grade = 82.24356465761234
name = "Dazai"
print("Hello {}, your semestral grade is: {}".format(name, sem_grade))

In [ ]:
w_pg, w_mg, w_fg = 0.3, 0.3, 0.4